@import url('https://fonts.googleapis.com/css?family=Tajawal:300,400,700');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

body {
    margin: 0;
    background: url('material1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    font-family: Tajawal;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: #E67E22FF;
    padding: 20px;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #2C3E50FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 3%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

nav a:hover {
    font-size: 1.5rem;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    z-index: 999;
    width: 200px;
    display: none;
}

aside a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 20px 0;
    display: flex;
}

.mobile .material-icons {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 2rem;
    cursor: pointer;
    background-color: #E67E22;
    color: white;
    padding: 5px;
}

.opacity {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    display: none;
}

.retour {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9%;
}

.retour p {
    padding-left: 20px;
    justify-content: flex-start;
}

[section] {
    width: 100%;
}

.Article {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    height: 75vh;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*.n2 div:nth-child(3) div:nth-child(2) {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}*/

.n1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.n2 {
    justify-content: space-around;
}

.n3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.n4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.n4 a {
    color: black;
    font-style: none;
}

.n4 h2 {
    margin-bottom: 0px;
}

.icons_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}

.icons_contact i {
    font-size: 50px;
}

.icons_contact p {
    font-size: 3rem;
}

.titre {
    color: #3498DB;
    font-size: 1.5rem;
    margin-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.date {
    font-style: italic;
    font-size: 1rem;
    margin-top: 5px;
    color: grey;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.desc {
    font-size: 1.2rem;
    margin-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin-bottom: 50px;
}

.Article p {
    margin-top: 5%;
    font-size: 1.2rem;
    text-align: center;
}

.progress-bar { 
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background-color: #E8E8EE;
    margin-left: 20px;
    border-radius: 5%;
}

.progress-bar:before { 
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    background: #A0A0A0;
    border-radius: 5%;
}

.francais:before {
    width: 145px;
}

.anglais:before {
    width: 100px;
}

.espagnol:before {
    width: 50px;
}

.japonais:before {
    width: 5px;
}

.photoshop:before {
    width: 140px;
}

.marketing:before {
    width: 120px;
}

.html:before {
    width: 90px;
}

.illustrator:before {
    width: 115px;
}

#linkedin {
    width: 50px;
}

.Article > div:first-child {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: red;
    height:20vh;
    width: 100%;
}

/* Responsive écran */
@media screen and (min-width: 1025px) {
 main {       
        margin-top: 150px;
    }

    .hide-on-large-only {
        display: none;
    }
}


/* Responsive tablette*/

@media screen and (max-width: 1024px) {
   
.hide-on-med-and-down {
    display: none;
}

}

/* Responsive phone */

@media screen and (max-width: 600px) {
   
  /* .block {
    display: flex;
    flex-direction: column;
   }

   .n2 {
    display: flex;
    flex-direction: column;
   }
}*/