@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body {
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    object-fit: fill;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

nav img {
    width: 10%;
    margin-top: 15px;
    margin-left: 15px;
}

nav > div > ul {
    display: flex;
    flex-direction: row;
}

nav li {
    font-size: 1.2rem;
    padding: 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav > div:first-child {
    flex: 1;
}

nav > div:nth-child(2) {
    justify-content: flex-end;
    display: flex;
    flex: 2;
}

nav > div > ul > li:first-child > a {
    border: solid 1px white;
    padding: 7px;
}

nav > div > ul > li:first-child:hover {
    opacity: 0.7;
}

header > div {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 5rem;
    margin-top: 20vh;
    text-shadow: 8px 0px 40px black;
}

header > div > p:nth-child(2) {
    margin-top: 20px;
    text-shadow: 8px 0px 40px black;
}

#call {
    border: solid 1px white;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: rgba(243, 156, 18, 0.3);
    margin-top: 20vh;
    font-size: 1.1rem;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
}

header > div:nth-child(4) a {
    text-decoration: none;
}

main section:first-child {
    display: flex;
    background-color: white;
    margin-top: 100vh;
    height: 100vh;
}